---
title: 'About | LawHedge'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="ContactBanner-327">
    <div class="cs-container">
        <span class="cs-int-title">About Us</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/contact" class="cs-link cs-active">Contact Us</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Banners/library-m.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Banners/library.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Banners/library.jpg" alt="library" width="1920" height="375">
    </picture>
</div>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-311">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/lawhedgenatureUntitled%20design-5.jpg?updatedAt=1748718689202">
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/lawhedgenatureUntitled%20design-5.jpg?updatedAt=1748718689202">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/lawhedgenatureUntitled%20design-5.jpg?updatedAt=1748718689202" alt="lawyers" width="522" height="581" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/jimbick2.jpg?updatedAt=1748719683828">
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/jimbick2.jpg?updatedAt=1748719683828">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/jimbick2.jpg?updatedAt=1748719683828" alt="gavel" width="414" height="400" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">LawHedge</h2>
            <p class="cs-text">
                I’m a business-minded attorney who cares about getting deals done for clients.  I believe that honesty and effective communication are the foundations for a successful law firm.  My practice focuses on buying and selling businesses and real estate.  But I strive to be a resource for <strong>all legal matters,</strong> so if you have a legal question (estate planning, litigation, etc.), come to me; if I can’t help directly, I’ll put you in touch with someone who can. 
            </p>
            <div class="cs-quote">
                <span class="cs-quote-text">
                    
                </span>
                <span class="cs-name">Education:</span>
                <span class="cs-job">Georgetown Law, 2008<br>
                    University of Oklahoma, 2005</span>
                
            </div>
    </div>
</section>
                                

    {% include 'components/cta.html' %}

{% endblock %}