---
title: 'About | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'buisandreal/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="ContactBanner-327">
    <div class="cs-container">
        <span class="cs-int-title">Business and Real Estate Transactions</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/contact" class="cs-link cs-active">Contact Us</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Banners/library-m.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Banners/library.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Banners/library.jpg" alt="library" width="1920" height="375">
    </picture>
</div>







<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-311">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/lawyers-m.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/lawyers.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/lawyers.jpg" alt="lawyers" width="522" height="581" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/gavel-m.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/gavel.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/gavel.jpg" alt="gavel" width="414" height="400" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Practical Guidance. Proven Results</span>
            <h2 class="cs-title">Legal Support That Grows With Your Business</h2>
            <p class="cs-text">
                The business world moves fast—and so do the legal challenges that come with it. At LawHedge, we believe one of the smartest investments a business owner can make is having legal counsel that not only understands the law but knows how to apply it strategically to your specific business. As your company grows and regulations shift, we’re here to help you adapt and move forward with clarity and confidence.
            </p>
            <p class="cs-text">
                In business law, few issues are black and white. The right solution often requires a mix of experience, practical judgment, and an understanding of your company’s values and vision. LawHedge brings a thoughtful, personalized approach to every client, offering legal support that’s aligned with your goals and tailored to your industry. Whether you're launching a startup or managing a growing enterprise, we offer reliable, real-world legal guidance across industries like real estate, professional services, agriculture, food and beverage, energy, retail, and more.
            </p>
           
            <a href="" class="cs-button-solid"></a>
        </div>
    </div>
</section>


<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-2289">
    <div class="cs-container">
        <!-- Left Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Featured service</span>
            <h2 class="cs-title">Our business law services include:</h2>
            <p class="cs-text">
            </p>
            <div class="cs-features">
                <h3 class="cs-h3">Key Features:</h3>
                <ul class="cs-ul">
                    <li class="cs-li">Forming LLCs, corporations, and nonprofit organizations</li>
                    <li class="cs-li">Planning for business succession and ownership transitions</li>
                    <li class="cs-li">Handling the purchase and sale of businesses, assets, equipment, and property</li>
                    <li class="cs-li">Drafting, reviewing, and negotiating a wide range of business contracts</li>
                    <li class="cs-li">Offering ongoing advisory services for risk management, compliance, and growth strategy</li>
                    <li class="cs-li">Acting as Outside General Counsel for small to mid-sized, privately held companies</li>
                </ul>
            </div>
            <a class="cs-button-solid" aria-label="learn more about our programs" href=""></a>
        </div>
        <!-- Right Image Section -->
        <div class="cs-image-group">
            <!--Floating Box-->
            <div class="cs-box">
                <span class="cs-number">200+</span>
                <div class="cs-flex">
                    <h3 class="cs-heading">Deals Closed</h3>
                    <span class="cs-desc"></span>
                </div>
            </div>
            <!--Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction3.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction3.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction3.jpg" alt="meeting" width="630" height="630" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}