---
title: 'Contact | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'contact/'
eleventyNavigation:
    key: Contact Us
    order: 600
    hideOnDesktop: true
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="ContactBanner-327">
    <div class="cs-container">
        <span class="cs-int-title">Contact</span>
        <div class="cs-breadcrumbs">
            <a href="" class="cs-link">Home</a>
            <a href="" class="cs-link cs-active">Contact Us</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Banners/library-m.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Banners/library.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Banners/library.jpg" alt="library" width="1920" height="375">
    </picture>
</div>

    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

    <section id="cs-contact">
        <div class="cs-container">
            <form id="cs-form" name="Contact Form" method="post">
                <div class="cs-content">
                    <span class="cs-topper">Contact</span>
                    <h2 class="cs-title">Get in Touch</h2>
                    <p class="cs-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ridiculus elementum ullamcorper ipsum porttitor aliquam. Id magna urna ultrices odio pulvinar. Sed ut.
                    </p>
                </div>
                <label>
                    Name
                    <input required type="text" id="name" name="name" placeholder="Name">
                </label>
                <label>
                    Email
                    <input required type="text" id="email" name="email" placeholder="Email">
                </label>
                <label>
                    Phone
                    <input required type="text" id="phone" name="phone" placeholder="Phone">
                </label>
                <label>
                    How Did You Find Us
                    <input type="text" id="find" name="find-us" placeholder="How did you find us?">
                </label>
                <label class="cs-label-message">
                    Message
                    <textarea required name="Message" id="message" placeholder="Write message..."></textarea>
                </label>
                <button class="cs-button-solid" type="submit">Submit Message</button>
            </form>
            <div class="cs-right-section">
                <!--Email-->
                <span class="cs-header">Email</span>
                <a class="cs-link" href="mailto:{{client.email}}">{{client.email}}</a>
                <!--Phone-->
                <span class="cs-header">Phone</span>
                <a class="cs-link" href="tel:{{client.phoneForTel}}">{{client.phoneFormatted}}</a>
                <!--Address-->
                <span class="cs-header">Address</span>
                <a class="cs-link" href="https://maps.app.goo.gl/x1PLAZZGAYB7zF8P9">
                    Aurora Office 
                    <br/>
                    6105 S. Main Street, Suite 200
                    <br/>
                    <span class="cs-block">
                        Aurora
                        Colorado
                        80016
                    </span>
                </a>
                <a class="cs-link" href="https://maps.app.goo.gl/5WcC3CjwRRX3qH247">
                    Tulsa Office
                    <br/>
                    8215 S Mingo Rd, Suite 200
                    <br/>
                    <span class="cs-block">
                        Tulsa
                        Oklahoma
                        74133
                    </span>
                </a>

                <!-- Background Image-->
                <picture class="cs-bg-picture">
                    <source media="(min-width: 601px)" srcset="/assets/images/skyscraper.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/skyscraper.jpg" alt="building" loading="lazy" width="2500" height="1667">
                </picture>

            </div>
        </div>
    </section>
{% endblock %}