---
title: 'About | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'estateplanning/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="ContactBanner-327">
    <div class="cs-container">
        <span class="cs-int-title">Estate Planning</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/contact" class="cs-link cs-active">Contact Us</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Banners/library-m.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Banners/library.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Banners/library.jpg" alt="library" width="1920" height="375">
    </picture>
</div>

    <!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-311">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/lawyers-m.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/lawyers.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/lawyers.jpg" alt="lawyers" width="522" height="581" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/gavel-m.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/gavel.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/gavel.jpg" alt="gavel" width="414" height="400" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Guiding Your Future</span>
            <h2 class="cs-title">Planning Today for Peace Tomorrow</h2>
            <p class="cs-text">
                At its heart, estate planning is about protecting the people and values that matter most to you. While tax considerations may play a role, the true purpose of estate planning is to make sure you and your loved ones are cared for—during life’s unexpected turns and long after you’re gone.
            </p>
            <p class="cs-text">
                An estate plan is your personal blueprint for how decisions should be made if you're no longer able to manage your affairs due to illness, disability, or death. Without a plan in place, state laws take over—and those default rules often don’t reflect your wishes. Having your own estate plan gives you control over your care, your assets, and the legacy you leave behind.
            </p>
            <p class="cs-text">
                At LawHedge, we view estate planning as an empowering and positive step—one that brings peace of mind and lasting impact. We help individuals and families create thoughtful, legally sound plans that reflect their values, protect their loved ones, and preserve their legacy for generations to come.
            </p>
            
            <a href="" class="cs-button-solid"></a>
        </div>
    </div>
</section>
                                

    {% include 'components/cta.html' %}

{% endblock %}