---
title: 'Estate Planning | LawHedge'
description: 'Protect your legacy with customized estate planning services from LawHedge. Attorney Jim Bickford helps you plan wills, trusts, and asset protection with care and clarity.'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'estateplanning/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="ContactBanner-327">
    <div class="cs-container">
        <span class="cs-int-title">Estate Planning</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/contact" class="cs-link cs-active">Contact Us</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Banners/library-m.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Banners/library.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Banners/library.jpg" alt="library" width="1920" height="375">
    </picture>
</div>

    <!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-311">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/lawhwdgwsunset.jpg?updatedAt=1748718338219">
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/lawhwdgwsunset.jpg?updatedAt=1748718338219">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/lawhwdgwsunset.jpg?updatedAt=1748718338219" alt="lawyers" width="522" height="581" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/lawhedgehands.jpg?updatedAt=1748718185402">
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/lawhedgehands.jpg?updatedAt=1748718185402">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/lawhedgehands.jpg?updatedAt=1748718185402" alt="gavel" width="414" height="400" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Guiding Your Future</span>
            <h2 class="cs-title">Planning Today for Peace Tomorrow</h2>
            <p class="cs-text">
                At LawHedge, we view estate planning as one of the most meaningful legal steps you can take. We work closely with a trusted network of experienced estate planning attorneys. These are professionals we know personally—people we trust to take care of our clients with the same level of attention and integrity we would.
            </p>
            <p class="cs-text">
                Whether you're looking to create a will, establish a trust, or simply ensure your family is protected in the event of illness or loss, we’ll connect you with the right legal partner to make it happen. Our goal is to simplify the process and save you from the stress of searching for reliable help on your own.
            </p>
            <p class="cs-text">
                By working with LawHedge, you gain more than a referral—you gain access to a network of estate planning professionals who are thoughtful, skilled, and dedicated to protecting the people and values that matter most to you.
            </p>
            
            <a href="" class="cs-button-solid"></a>
        </div>
    </div>
</section>
                                

    {% include 'components/cta.html' %}

{% endblock %}