/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0rem) {
  #sbs-2276 {
    padding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
    padding-top: 40rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #sbs-2276 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-2276 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-2276 .cs-title {
    max-width: 25ch;
  }
  #sbs-2276 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-2276 .cs-signature {
    width: 10.625rem;
    height: auto;
    margin-bottom: 0.5rem;
    display: block;
  }
  #sbs-2276 .cs-name {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 0.25rem;
    color: var(--headerColor);
    display: block;
  }
  #sbs-2276 .cs-desc {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0 0 2rem 0;
    color: var(--bodyTextColor);
    display: block;
  }
  #sbs-2276 .cs-button-solid {
    font-size: 1rem;
    text-align: center;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    width: 11.25rem;
    text-decoration: none;
    font-weight: 700;
    /* clips corners of the before element */
    overflow: hidden;
    margin: 0;
    color: #fff;
    padding: 0;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  #sbs-2276 .cs-button-solid:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #sbs-2276 .cs-button-solid:hover {
    color: #fff;
  }
  #sbs-2276 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-2276 .cs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  #sbs-2276 .cs-image-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
    border-radius: 0.5rem;
  }
  #sbs-2276 .cs-image-group a {
    display: none;
    flex: none;
  }
  #sbs-2276 .cs-picture {
    width: 100%;
    height: 90vw;
    max-height: 31.25rem;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 0.5rem;
  }
  #sbs-2276 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.5rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-2276 .cs-container {
    max-width: 80rem;
  }
  #sbs-2276 .cs-content {
    /* 32px - 64px */
    gap: clamp(2rem, 5vw, 4rem);
  }
  #sbs-2276 .cs-title {
    margin: 0;
  }
  #sbs-2276 .cs-wrapper {
    flex-direction: row;
    align-items: stretch;
  }
  #sbs-2276 .cs-flex {
    /* 12px to 40px */
    padding: clamp(0.75rem, 3vw, 2.5rem) 0;
    align-self: center;
  }
  #sbs-2276 .cs-picture1 {
    height: 25rem;
    max-height: initial;
  }
  #sbs-2276 .cs-picture2 {
    width: 47vw;
    max-width: 22.625rem;
    height: auto;
    max-height: 100%;
    order: -1;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-2276 {
    padding-top: 15rem;
  }
  #sbs-2276 .cs-container {
    flex-direction: row;
    align-items: stretch;
  }
  #sbs-2276 .cs-desc {
    margin: 0;
  }
  #sbs-2276 .cs-flex .cs-button-solid {
    display: none;
  }
  #sbs-2276 .cs-image-group {
    width: 50%;
    max-width: 25.8125rem;
  }
  #sbs-2276 .cs-image-group a {
    display: inline-block;
  }
  #sbs-2276 .cs-picture1 {
    height: 100%;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 75rem) {
  #sbs-2276 .cs-image-group {
    margin-bottom: 5.25rem;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0rem) {
  #sbs-2362 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #sbs-2362 .cs-container {
    width: 100%;
    max-width: 112.5rem;
    margin: auto;
    /* 16px - 80px */
    padding: clamp(1rem, 4.5vw, 5rem);
    box-sizing: border-box;
    background-color: #F1EEEC;
    display: flex;
    flex-direction: column;
  }
  #sbs-2362 .cs-wrapper {
    /* changes at tablet */
    width: 100%;
    max-width: 55.625rem;
    display: flex;
    flex-direction: column;
    /* 48px - 64px */
    gap: clamp(3rem, 8vw, 4rem);
  }
  #sbs-2362 .cs-content {
    width: 100%;
    text-align: left;
    /* 24px - 60px top & bottom */
    /* 16px - 60px left & right */
    padding: clamp(1.5rem, 7vw, 3.75rem) clamp(1rem, 7vw, 3.75rem);
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #sbs-2362 .cs-title,
  #sbs-2362 .cs-text {
    text-align: inherit;
  }
  #sbs-2362 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-2362 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-2362 .cs-button-solid {
    font-size: 1rem;
    text-align: center;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 6vw, 3.5rem);
    font-weight: 700;
    text-decoration: none;
    padding: 0 2rem;
    color: var(--bodyTextColorWhite);
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #sbs-2362 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-2362 .cs-button-solid:before {
    content: '';
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #sbs-2362 .cs-stat-group {
    /* changes on tablet */
    width: 100%;
    max-width: 43.875rem;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  #sbs-2362 .cs-stat {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    grid-column: span 2;
  }
  #sbs-2362 .cs-number {
    /* 31px - 49px */
    font-size: clamp(1.9375rem, 7vw, 2.875rem);
    text-align: inherit;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    color: var(--headerColor);
  }
  #sbs-2362 .cs-color {
    color: var(--primary);
  }
  #sbs-2362 .cs-desc {
    /* 16px - 20px */
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    text-align: inherit;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #sbs-2362 .cs-image-group {
    width: 100%;
    height: 90vw;
    max-height: 28.125rem;
    order: -1;
    position: relative;
    z-index: 1;
  }
  #sbs-2362 .cs-picture {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  #sbs-2362 .cs-picture img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  #sbs-2362 .cs-video-link {
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: 700;
    text-decoration: none;
    /* 32px - 40px */
    padding: 1rem clamp(2rem, 4vw, 2.5rem) 1rem 1rem;
    background-color: #F1EEEC;
    color: var(--headerColor);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  #sbs-2362 .cs-icon-wrapper {
    /* 46px - 56px */
    width: clamp(2.875rem, 6vw, 3.5rem);
    height: clamp(2.875rem, 6vw, 3.5rem);
    background-color: var(--headerColor);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #sbs-2362 .cs-icon {
    width: 1rem;
    height: auto;
    display: block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-2362 .cs-container {
    flex-direction: row;
  }
  #sbs-2362 .cs-wrapper {
    width: 57%;
    margin-left: -3.75rem;
    /* 44px - 130px */
    padding: clamp(2.75rem, 6vw, 8.125rem) 0;
    align-items: flex-end;
    flex: none;
    position: relative;
    z-index: 2;
  }
  #sbs-2362 .cs-stat-group {
    width: 80%;
  }
  #sbs-2362 .cs-image-group {
    max-width: 50.625rem;
    height: auto;
    max-height: 100%;
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-864 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #reviews-864:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0.03;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #reviews-864 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #reviews-864 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 56.25rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #reviews-864 .cs-title {
    /* 20 characters including spaces */
    max-width: 20ch;
  }
  #reviews-864 .cs-text {
    max-width: 100%;
  }
  #reviews-864 .cs-card-group {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2.5vw, 1.15rem);
  }
  #reviews-864 .cs-item {
    list-style: none;
    width: 100%;
    /* 20px - 32px */
    padding: clamp(1.25rem, 4vw, 2rem);
    background-color: #fff;
    border-radius: 0 1.5rem 0 1.5rem;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    grid-column: span 12;
    position: relative;
  }
  #reviews-864 .cs-flex-group {
    width: 100%;
    margin: 0 0 1.25rem 0;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid #fbcebd;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;
  }
  #reviews-864 .cs-profile {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    /* clips image corners to make circle */
    overflow: hidden;
    position: relative;
    display: block;
  }
  #reviews-864 .cs-profile img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes the image behave like a background image */
    object-fit: cover;
  }
  #reviews-864 .cs-name {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    line-height: 1.5em;
    font-weight: 700;
    margin: 0 0 0.5rem 0;
    color: var(--headerColor);
    display: block;
  }
  #reviews-864 .cs-job {
    font-size: 0.875rem;
    line-height: 1.2em;
    font-weight: 400;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
  }
  #reviews-864 .cs-review {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 1.25rem;
    max-width: 27.75rem;
    color: var(--bodyTextColor);
  }
  #reviews-864 .cs-stars {
    width: 6.75rem;
    height: auto;
    margin: 0 0 0.5rem 0;
    display: block;
  }
  #reviews-864 .cs-desc {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #reviews-864 .cs-quote1,
  #reviews-864 .cs-quote2 {
    display: none;
    width: 12.125rem;
    height: auto;
    display: block;
    position: absolute;
    z-index: -1;
  }
  #reviews-864 .cs-quote1 {
    top: 0;
    left: 0;
  }
  #reviews-864 .cs-quote2 {
    bottom: 0;
    right: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-864 .cs-container {
    max-width: 80rem;
  }
  #reviews-864 .cs-item {
    grid-column: span 6;
  }
  #reviews-864 .cs-item:last-of-type {
    grid-column: span 12;
  }
  #reviews-864 .cs-stars {
    margin-top: auto;
  }
  #reviews-864 .cs-quote1,
  #reviews-864 .cs-quote2 {
    display: block;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #reviews-864 .cs-item {
    grid-column: span 4;
  }
  #reviews-864 .cs-item:last-of-type {
    grid-column: span 4;
  }
}
